* {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    line-height:1;
}

body {
    font-family:Tahoma,Helvetica,sans-serif;
    width: 21cm; /*Annahme: Rand macht der Browser beim Druck*/
    height: 29.7cm;
    margin: 2cm 1cm 2cm 1cm;
}

div.main {
   width: 19cm;
   margin: 0 1cm;
}

h1 {
    margin:10px;
    font-size:150%;
    text-align:center;
}

p {
    margin:10px;
    line-height:1.2;
}

p.sig {
    margin:40px 10px 10px 10px;
}

p.desc {
    font-size: 70%;
}

table.header {
    margin-bottom: 15px;
    width:19cm;
    border-width:1px;
    border-style:solid;
    border-color:black;
    color:black;
}

table.header th, td {
    border-width:0;
    border-style:none;
    border-collapse:collapse;
}

table.tbl {
    margin: 0;
    width:19cm;
    border-width:1px;
    border-style:solid;
    border-color:black;
    border-collapse:collapse;
    text-align:center;
    empty-cells:show;
    color:black;
    font-size: 85%;
}

table.tbl th {
    line-height:1.2;
    border-width:1px;
    border-style:solid;
    border-color:black;
    border-collapse:collapse;
    text-align:center;
    background-color:#E0E0E0;
    font-weight:bold;
}

table.tbl th.left {
    padding: 0 0 0 10px;
    line-height:1.2;
    border-width:1px;
    border-style:solid;
    border-color:black;
    border-collapse:collapse;
    text-align:left;
    background-color:#E0E0E0;
    font-weight:bold;
}

table.tbl td {
    line-height:1.2;
    border-width:1px;
    border-style:solid;
    border-color:black;
    border-collapse:collapse;
    text-align:center;
    background-color:#FFFFFF;
}

table.tbl td.left {
    padding: 0 0 0 10px;
    line-height:1.2;
    border-width:1px;
    border-style:solid;
    border-color:black;
    border-collapse:collapse;
    text-align:left;
    background-color:#FFFFFF;
}

table.tbl td.part {
    line-height:1.2;
    border-width:1px;
    border-style:solid;
    border-color:black;
    border-collapse:collapse;
    text-align:center;
    background-color:#FFFFFF;
    font-size: 80%;
}
